<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="pageHeader">
          <h1><%= title %></h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <% for(var i = 0; i < movies.length; i ++) { %>
          <div class="col-md-2">
            <a href="/movie/<%= movies[i]._id%>">
              <img src="<%= movies[i].poster%>" alt="<%= movies[i].title%>">
            </a>
            <h3><%= movies[i].title %></h3>
            <p>
              <a href="/movie/<%= movies[i]._id %>" class="btn btn-primary">观看预告片</a>
            </p>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
